[DEFAULT]
sites_dir=/etc/nginx/sites-available/%s.conf
init_dir=/etc/init.d/%s

wsgi_server=launch_with_bjoern.py

vhosts_dir=/var/www/vhosts
apps_dir=/var/www/apps

apps_path=/var/www/apps
vhosts_path=/var/www/vhosts

[mysite]
type=php
aliases=www.mysite.com mysite.com

[myflasksite]
type=flask
aliases=www.myflasksite.com
port=500
